{% extends 'base.html' %}


{% block head %}
    <link href="/static/css/colorpicker.css" rel="stylesheet" />
    <script src="/static/js/jquery-1.8.0.min.js"></script>
    <script src="/static/js/bootstrap-colorpicker.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script>
        $(document).ready(function() {
            $('#productEditForm').ajaxForm({beforeSubmit: formPreSubmit, success: formPostSubmit, uploadProgress: formUploadProgress});
        });

        function formPreSubmit(formData, jqForm, options){
            formHide();
            $("#formProgressBar").width("0%");
        }
        function formPostSubmit(responseText, statusText, xhr, form){
            data = jQuery.parseJSON(responseText)
            //replace form data
            if (data.form){
                try{ $("#productEditForm").html(data.form); }
                catch(ex){ ; } //because colorpicker raise exception
            }
            //show form (remove overlay)
            formShow();

            //hide progress bar
            $("#formProgressBar").css('display', 'none')

            //replate page title if product name was changed
            if (data.name){
                document.title =  'Edit "'+data.name+'" - hello world!';
            }
        }

        function formUploadProgress(event, position, total, percentComplete) {
            $("#formProgressBar").width(percentComplete+"%");
            if (percentComplete > 0)
                $("#formProgressBarContainer").css('display', 'block')
            else
                $("#formProgressBarContainer").css('display', 'none')
        }

        function formHide(){
            form = $("#productEditForm");
            over = $("#form_overlay");
            over.css('position', 'absolute');
            over.css('display', 'block');
            over.css('background-color', 'gray');
            over.css('opacity', '0.4');
            over.css('filter', 'alpha(opacity=40)');
            over.offset(form.offset());
            over.height(form.height()+10);
            over.width( form.width()+10);
        }
        function formShow(){
            $("#form_overlay").css('display', 'none');
        }
    </script>
{% endblock %}

{% block title %}Edit &quot;{{product.name}}&quot;{% endblock %}


{% block content %}

<div class="row">
    <div class="span8 offset2">
        <div id="form_overlay" style="display: none; background-color: gray; "></div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="productEditForm">
            {% include 'form.html' %}
        </form>
    </div>
</div>

{% endblock %}