{% extends "base.html" %}

{% block title %}List of products{% endblock %}

{% block content %}

<div class="row">
    <div class="span8 offset2">
        <div class="page-header">
            <h1>Products list!</h1>
        </div>
    </div>
</div>

{% for product in products %}
<div class="row">
    <div class="row">
        <div class="span8 offset2">
            <div class="page-header">
                <h3><a href="/product/{{product.alias}}/">{{product.name}}</a></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2 offset2">
            <a href="/product/{{product.alias}}/" class="thumbnail">
                <img src="{{product.photo.url}}" alt="">
            </a>
        </div>
        <div class="span6">
            <div class="row">
                <div class="span2">
                    weight: {{product.weight}} lb.
                </div>
                <div class="span2">
                    heigth: {{product.heigth}}
                </div>
                <div class="span2">
                    Color: <span class="product-color" style="background-color: #{{product.color}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    {{product.short_desc|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="span6 offset3">
        <div class="pagination">
            <ul>
                <li {% if not products.has_previous %}class="disabled"{% endif %}><a href="/list/{{products.previous_page_number}}/">Пред</a></li>
                {% for page in products.paginator.page_range %}
                <li {% if products.number = page %}class="active"{% endif %}><a href="/list/{{ page }}/">{{ page }}</a></li>
                {% endfor %}
                <li {% if not products.has_next %}class="disabled"{% endif %}><a href="/list/{{ products.next_page_number }}/">След</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- {{testvar}}
your ip is {{request.META.REMOTE_ADDR}}
-->
{% endblock %}