{% extends "base.html" %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<div class="row">
    <div class="row">
        <div class="span8 offset2">
            <div class="page-header">
                <h1>{{product.name}}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset2">
            <img src="{{product.photo.url}}" />
        </div>
        <div class="span6">
            <div class="row">
                <div class="span2">
                    weight: {{product.weight}} lb.
                </div>
                <div class="span2">
                    heigth {{product.heigth}} inch
                </div>
                <div class="span1">
                    Color: <span class="product-color" style="background-color: {{product.color}}"></span>
                </div>
            </div>
            <div class="row">
                <div class="span5">
                    {{product.desc|safe}}
                </div>
            </div>
        </div>
    </div>
</div>

{% load rand_products %}
{% rand_products 2 %}

<div class="row" style="height: 50px;"></div>
<div class="row">
    <div class="span4 offset2">
        <h3>Random products</h3>
    </div>
</div>
{% for p in rand_products %}
<div class="row">
    <div class="span1 offset2">
        <a href="/product/{{p.alias}}/" class="thumbnail">
            <img src="{{p.photo.url}}" alt="" style="max-width: 50px; max-height: 50px"/>
        </a>
    </div>
    <div class="span2">
        <a href="/product/{{p.alias}}/">{{p.name}}</a>
    </div>
</div>
{% endfor %}

{% endblock %}